<div class="uk-section uk-section-muted uk-preserve-color">
  <div class="uk-container">
    <div class="uk-panel uk-dark uk-margin-medium">
      <h3>Popular Posts</h3>
    </div>

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1465145498025-928c7a71cab9?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Budget Deals for Your Wedding Meals</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1489684141651-7e45b4e77b3a?dpr=1&auto=format&fit=crop&w=1500&h=1046&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Budget Deals for Your Wedding Rings</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1502668613814-274b06f1ebb4?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Wedding Invitation Inspiration Information</p>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/5/unsplash-kitsune-4.jpg?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Budget Deals for Your Wedding Meals</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Budget Deals for Your Wedding Rings</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1471895302488-5ce150f3a1ba?dpr=1&auto=format&fit=crop&w=1500&h=1192&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Wedding Invitation Inspiration Information</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-muted uk-preserve-color">
  <div class="uk-container">
    <div class="uk-panel uk-dark uk-margin-medium">
      <h3>Recent Posts</h3>
    </div>

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1450740199001-78e928502994?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Budget Deals for Your Wedding Meals</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1494390248081-4e521a5940db?dpr=1&auto=format&fit=crop&w=1500&h=1079&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Budget Deals for Your Wedding Rings</p>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-inline">
          <img src="https://images.unsplash.com/photo-1483908514687-d25c79c15df0?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
            alt="">
          <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p>Wedding Invitation Inspiration Information</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>