{% include mailchimp.html %}
<hr class="uk-divider-icon">

<h3>FOLLOW US ON</h3>
{% for network in site.social %}
  <a uk-icon="icon: {{ network.title }}; ratio: 2" href="{{ network.url }}"></a>
{% endfor %}
<hr class="uk-divider-icon">

<h3>TAGS</h3>
<a class="uk-button uk-button-default uk-button-small" href="#">TIPS</a>
<a class="uk-button uk-button-default uk-button-small" href="#">HACKS</a>
<a class="uk-button uk-button-default uk-button-small" href="#">STYLE</a>
<a class="uk-button uk-button-default uk-button-small" href="#">TAG</a>
<a class="uk-button uk-button-default uk-button-small" href="#">DRESS</a>
<a class="uk-button uk-button-default uk-button-small" href="#">GROOM</a>
<a class="uk-button uk-button-default uk-button-small" href="#">RECEPTION</a>
<a class="uk-button uk-button-default uk-button-small" href="#">INVITATION</a>
<a class="uk-button uk-button-default uk-button-small" href="#">CAKE</a>
<a class="uk-button uk-button-default uk-button-small" href="#">BRIDE</a>

<hr class="uk-divider-icon">
