---
# Only the main Sass file needs front matter (the dashes are enough)
---

// site.scss
// Better to check https://getuikit.com/docs/sass for reference.

// 1. Your custom variables and variable overwrites.
@import "theme/variables.scss";
// @import "theme/accordion.scss";
// ... import all

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables.scss";
@import "uikit/src/scss/mixins.scss";

// 3. Your custom mixin overwrites.
// @import "theme/accordion-mixins.scss";
// ... import all

// 4. Import UIkit
@import "uikit/src/scss/uikit.scss";

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  height: auto;
  padding: 1rem;
}

//TODO: Fix structure for css. Temporarilty placed everything here.
.gl-featured {
  padding: 3rem 0;
}

.gl-featured-title{
  margin: 1rem 0 2rem 0;
}

.gl-featured-title h1{
  font-size: 2rem;
  margin: 0;
}

[class*=gl-logo] {
  text-align: center;
  padding: 1rem 0;
}

[class*=gl-logo] img{
  height: 100%;
  width: auto;
}

.gl-logo-large{
  height: 12rem;
}

@media screen and (max-width: 480px){
  .gl-logo{
    height: 6rem;
  }
}
