---
layout: default
---
<section class="uk-section uk-section-default uk-section-xsmall">
{% for post in paginator.posts %}
  <article class="uk-article">
    <h1 class="uk-article-title"><a class="uk-link-reset" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h1>
    <p class="uk-article-meta">Written by <a href="#">{{ post.author | escape }}</a> on {{ post.date | date: "%b %-d, %Y" }}. Tags: {{ post.tags | array_to_sentence_string }} </p>

    {% if post.img != null %}
    <p><img src="{{ post.img }}"></p>
    {% endif %}

    <p class="uk-text-lead">{{ post.content | strip_html | truncatewords: 30 }}</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
      <div>
        <a class="uk-button uk-button-text" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="#">5 Comments</a>
      </div>
    </div>
  </article>

  <hr class="uk-divider-icon">
{% else %}
  <div class="uk-text-center">
    <h3>No posts found.</h3>
  </div>
{% endfor %}

{% if paginator.next_page or paginator.previous_page %}
  <ul class="uk-pagination uk-margin-bottom">
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="uk-margin-auto-left"><a href="{{ paginator.next_page_path }}">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
    {% endif %}
  </ul>
{% endif %}
</section>