---
layout: default
---

<section class="uk-section uk-section-default uk-section-xsmall">
  <div class="uk-container">
    <h5 class="uk-text-uppercase">Popular Posts</h5>

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      {% for post in site.categories['popular'] limit:6 offset:1 %}
      <div>
        <div class="uk-tile uk-cover-container uk-height-small">
          <img src="{{ post.img }}" alt="" uk-cover>
          <div class="uk-overlay uk-light uk-position-cover"></div>
          <div class="uk-overlay uk-light uk-position-bottom uk-padding-small">
            <h5 class="uk-height-1-1">{{ post.title | escape }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="uk-section uk-section-default uk-section-xsmall">
  <div class="uk-container">
    <h5 class="uk-text-uppercase">Recent Posts</h5>

    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      {% for post in site.categories['blog'] limit:3 offset:1 %}
      <div>
        <div class="uk-tile uk-cover-container uk-height-small">
          <img src="{{ post.img }}" alt="" uk-cover>
          <div class="uk-overlay uk-light uk-position-cover"></div>
          <div class="uk-overlay uk-light uk-position-bottom uk-padding-small">
            <h5 class="uk-height-1-1">{{ post.title | escape }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
