---
layout: default
---
{% for post in site.categories['blog'] limit:1 %}
  <div class="uk-section uk-section-media uk-light uk-background-cover uk-height-large" style="background-image: url({{ post.img }})">
    <div class="uk-container uk-text-center">
      {% for tag in post.tags %}
        <a class="uk-button uk-button-primary uk-button-small" href="#">{{ tag }}</a>
      {% endfor %}

      <h2>{{ post.title | escape }}</h2>
      <h3>by {{ post.author | escape }} on {{ post.date | date: "%b %-d, %Y" }}</h3>
      <a class="uk-button uk-button-default" href="{{ post.url | prepend: site.baseurl }}">Read Full Story</a>

      <div class="uk-margin-top">
        {% for network in site.social %}
          <a uk-icon="icon: {{ network.title }}; ratio: 1.5" href="{{ network.url }}"></a>
        {% endfor %}
      </div>

    </div>
  </div>
{% endfor %}

<!-- Start of Two Columns-->
<div class="uk-child-width-1-3@m" uk-grid>
  <!-- Start of Posts-->
  <div class="uk-width-expand@m">
    {% include home-post.html %}
  </div>
  <!-- End of Posts-->

  <!-- Start of Ads Column-->
  <div class="uk-width-1-3@m uk-text-center">
    {% include misc-panel.html %}
  </div>
  <!-- End of Ads-->
</div>
