---
layout: default
---

<section class="uk-section uk-section-default uk-section-xsmall">
  <article class="uk-article">
    <h1 class="uk-article-title"><a class="uk-link-reset" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | escape }}</a></h1>
    <p class="uk-article-meta">Written by <a href="#">{{ page.author | escape }}</a> on {{ page.date | date: "%b %-d, %Y" }}. Tags: {{ page.tags | array_to_sentence_string }} </p>

    {% if page.img != null %}
    <p><img src="{{ page.img }}"></p>
    {% endif %}

    {{ content }}
    {% include disqus_comments.html %}
  </article>    
</section>